html
  include _head
  body

    include _nav

    div(class="container")
      div(class="jumbotron starter-template")
        form(class="diaperForm")
          div(class="btn-group diaper-buttons")
            button(type="button submit" class="btn btn-lg btn-success pee" name="form" value="pee")
              | Pee
            button(type="button submit" class="btn btn-lg btn-warning shart" name="form" value="shart")
              | Shart
            button(type="button submit" class="btn btn-lg btn-danger poo" name="form" value="poo")
              | Poo

      div(class="col-lg-16")
        table(class="table table-striped")
          thead
            tr
              td
                b time
              td
                b type
          tbody(id="diaperTableBody")
            for i in data
              - i = JSON.parse(i.value)
              tr
                - i.diaperTime = (new Date(i.diaperTime).toString())
                td=i.diaperTime.substring(0, 21).replace(/201./, '')
                td=i.type

    include _footer

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap-css/js/bootstrap.min.js')
  script(src='javascripts/diaper.js')
