html
  include _head
  body
    include _nav

    div(class="container")
      div(class="jumbotron starter-template")
        form(class="tempForm")
          div(class="form-group")
            button(type="button submit" name="tmpBtn" class="btn btn-lg btn-primary tempSubmitBtn")
              | submit
          div(class="form-group")
            input(type="range" class="temp" name="temp" min=36 max=40 step=0.1)

      div(class="col-lg-16")
        table(class="table table-striped")
          thead
            tr
              td 
                b time
              td 
                b temp
          tbody(id="tempTableBody")
            for i in data
              - i = JSON.parse(i.value)
              tr
                - i.tempTime = (new Date(i.tempTime).toString())
                td=i.tempTime.substring(0, 21).replace(/201./, '')
                td=i.degree
                  |  C

    include _footer

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap-css/js/bootstrap.min.js')
  script(src='javascripts/temp.js')

